body {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

.main-containor {
    height: 100vh;
    width: 100%;
    background: #1C1C1C;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    background: #1F2937;
    padding: 6vw 4vw;
}

.header-text h1 {
    font-size: 2.3vw;
    line-height: .9;
    padding-bottom: .8vw;
}
.header-text h1 span {
    color: #4ADF86;
    display: block;
}

.header-text > p{
    font-size: 1.14vw;
    line-height: 1;
    padding-bottom: 2vw;
    font-weight: 300;
}

.header-text {
    padding-bottom: 2vw;
    border-bottom: 1px solid #2F3E53;
}

button {
    background: #10B981;
    border: none;
    color: #fff;
    font-family: 'Karla';
    padding: 10px 20px;
    margin: 0;
    border-radius: 5px;
    font-size: 0.8333vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
button:hover {
    background: #0E9F6E;
    cursor: pointer;
}
button:active {
    background: #0B7A55;
}

.password-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
    grid-gap: 2vw;
}

.pass-box {
    background: #273549;
    width: 130px;
    height: 20px;
    font-family: 'Karla';
    padding: 10px 20px;
    margin: 0;
    border-radius: 5px;
    font-size: 0.8333vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #55F991;
}

.btn {
    display: flex;
    flex-direction: column;
    grid-gap: 1vw;
}


.warrning-box p {
    display: none;
}

.warrning-box p {
    color: red;
    font-size: 15px;
    font-weight: 100;
}

input#userInput {
    background: #10B981;
    border: none;
    color: #fff;
    font-family: 'Karla';
    padding: 10px 20px;
    margin: 0;
    border-radius: 5px;
    font-size: 0.8333vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    text-align: center;
}

input#userInput:focus{
    outline: none;
    border: none;
    background: #0B7A55;
}